SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# DB
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Postgres container
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Site
DOMAIN=
SITE_NAME=
SITE_ID=

# Email
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# MinIo file storage
MINIO_STORAGE_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_STORAGE_USE_HTTPS=
MINIO_STORAGE_MEDIA_BUCKET_NAME=
MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET=
MINIO_STORAGE_MEDIA_BACKUP_BUCKET=
MINIO_STORAGE_STATIC_BUCKET_NAME=
MINIO_STORAGE_AUTO_CREATE_STATIC_BUCKET=

